*.log
*.pot
*.pyc
.svn
.DS_Store
.idea
.settings
.project
.pydevproject
*.sublime-project
*.sublime-workspace
*.orig

*.db
*.db.*

*.mo
/*.lokalize
/lokalize-*/
/main.lqa

/venv/
/build/
/dist/
*.egg-info/
